[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
pandas = "*"
shap = "*"
category-encoders = "*"
sklearn = "*"
xgboost = "*"
dash = "==1.9.1"
dash-bootstrap-components = "*"
gunicorn = "*"
plotly = "*"
seaborn = "*"
randomize = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.9"
